.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #4c97c9;
    border-radius: 4px;
    

}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    border-radius: 4px;
    background-color: #b5b5b5;
    
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #d13737;
   
    
    
}
