@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Prompt:wght@300&display=swap');

*{
    font-family: 'Prompt', sans-serif;
    
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body, html {
    height: 100%;
}

body {
    background: linear-gradient(135deg,#c0caca, #4ee3e3);
    display: grid;
    place-items: center;
}

.calculatrice {
    width: 330px;
    background: rgb(219, 219, 219);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px rgb(241, 241, 241), 3px 3px 5px
     rgb(101, 101, 101);
}

.resultat {
    height: 60px;
    width: 100%;
    background: rgb(219, 219, 219);
    box-shadow: -3px -3px 7px rgb(241, 241, 241), 3px 3px 5px
    rgb(101, 101, 101);
}

.resultat input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: rgb(239, 239, 239);
    font-size: 20px;
    text-align: right;
    border: none;
    outline: none;
    font-weight: 500;
    box-shadow: -3px -3px 7px rgb(204, 204, 204), 3px 3px 5px
    rgb(192, 192, 192);
    border-radius: 5px;
}

.buttons {
    padding: 30px 0 0 0;
    text-align: center;
}

input[type="button"]{
    width: 56px;
    height: 56px;
    margin: 3px;
    font-size: 23px;
    box-shadow: -3px -3px 7px rgb(219, 219, 219), 3px 3px 5px
    rgb(152, 152, 152);
    color: grey;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:active{
    box-shadow: inset -2px -2px 2px rgb(219, 219, 219), 2px 2px 5px
    rgb(152, 152, 152);


}

.reset {
    width: 100%!important;
    font-size: 18px;
    background-color: rgb(208, 208, 208);

}

.infos {
    color: lightpink;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 1rem;
    font-weight: 400;
}






