@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    text-align: center;
}

h1 {
    font-family: 'Viga';
    font-size: 3.5rem;
    margin-top: 2%;

}

h1 {

    font-size: 2.5rem;
}

h2 {
    font-family: 'Turret Road';
    margin-top: 2%;
    margin-bottom: 4%;
}

p { 
    font-size:1.5rem;
}


img { 
    width:100px;
    margin-top: 4%;
    
}

.choices > div {
    display: inline-block;
    margin-top: 4%;
    transition:  all 0.4s ease-in-out;
}


.choices{
    position: relative;
    width: 100%;
    max-width: 400px;
}

.choices .btnPierre{
    position: absolute;
    top: 130%;
    left: 160%;
    transform: translate(-180%, -20%);
    background-color: white;
    opacity: 60%;
    font-size: 15px;
    padding: 5px 5px;
    font-family: 'Viga';
    cursor: pointer;
    border-radius: 10px;
    text-align: center;


}
.choices .btnPierre:hover{
    background-color: black;
    color: white;
}

.choices .btnPapier{
    position: absolute;
    top: 130%;
    left: 205%;
    transform: translate(-140%, -20%);
    background-color: white;
    opacity: 60%;
    font-size: 15px;
    padding: 5px 5px;
    font-family: 'Viga';
    cursor: pointer;
    border-radius: 10px;
    text-align: center;

}

.choices .btnPapier:hover{
    background-color: black;
    color: white;
}

.choices .btnCiseaux{
    position: absolute;
    top: 150%;
    left: 250%;
    transform: translate(-50%, -20%);
    background-color: white;
    opacity: 60%;
    font-size: 15px;
    padding: 5px 5px;
    font-family: 'Viga';
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.choices .btnCiseaux:hover{
    background-color: black;
    color: white;
}

.choices .rock{
    position: absolute;
    top: 50%;
    left: 160%;
    transform: translate(-120%, -50%);
}

.choices .paper{
    position: absolute;
    top: 50%;
    left: 205%;
    transform: translate(-100%, -50%);
}

.choices .scissors{
    position: absolute;
    top: 50%;
    left: 250%;
    transform: translate(-50%, -50%);
}

