.grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;

}

.player-one {
    background-color: red;
    border-radius: 10px;

}

.player-two {
    background-color: blue;
    border-radius: 10px;
}