@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&family=Viga&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Viga';
    text-align: center;
}

h1 {
    padding: 2.5rem 1rem;
    font-size: 3.5rem;
}

h1 {
    padding: 1rem 1rem;
    font-size: 2.5rem;
}

p { 
    font-size:1.5rem;
}

img { width:100px }

.choices > div {
    display: inline-block;
    margin: 0 1rem;
    transition:  all 0.4s ease-in-out;
}

.choices > div:hover {
    transform: scale(110%);
    cursor: pointer;
}