@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    padding: 0;
    margin: 0;   
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color:black;  
}

/* ************************ BARRE DE NAVIGATION ********************** */

nav{
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;

}

header li {
    float: right;
    font-size:1.2em;

}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Train One';
    font-weight: bold;
    float: left;

}

/* ****************************** Image Principale ************************** */

#imagePrincipale {
    padding-top: 60px;
    background: url(../img/vignette-escape.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;

}

h1{
    font-family: 'Train One', cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 6em;
    margin-top: 220px;
    text-shadow: 1px 3px 2px black;
}

#premierTrait {
    height: 3px;
    width: 60%;
    margin: -3px auto;
    background-color: antiquewhite;
    box-shadow: 1px 3px 2px black;
}

h3{
    color: antiquewhite;
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* ************************* PRESENTATION ******************** */

#presentation {
    background-color: #FFFAE1;
    padding: 0px 20%;
}

#texteIntro {
    padding: 0px 20%;
    text-align: center;

}

p {
    font-size:1em;
}

.p1{
    line-height: 1em;
}

.p2{
    line-height: 1em;
}

.p3{
    line-height: 1em;
}

.p4 {
    line-height: 1em;
}

#salles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10%;
    

}

.imageSalles h4 {
    display: flex;
    justify-content: center;
    font-family:"Train One", cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 20px;
    font-weight: 300;
 
}

.imageSalles img {
    margin: 20px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 150px;
    height: 200px;

}

.imageSalles img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* ************************* EN SAVOIR PLUS ******************* */

#pratique {
    height: 700px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

#pratique h2 {

    padding-top: 60px;
}

#localisation {
    background: url(../img/localisation.png) ;
}
#tarifs {
    background: url(../img/tarifs.png) ;

}
#reserver {
    background: url(../img/reservation.png) ;
}

#pratique li {
    margin: 65px 100px 0 100px;
    height: 200px;
    width: 24%;
    max-width: 200px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
    
}

#pratique p {
    height: 45px;
    width: 235px;
    background-color: white;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px;
}

/* ************************** FOOTER ********************** */

footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}

form {

    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px;
    font-size: 1.2em;
    font-family: 'Red Hat Display';
    border-radius: 8px;
}
textarea {
    height: 120px;
}

button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

#deuxiemeTrait {
    height: 1px;
    width: 74%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcones {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;

}

#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#icones {
    width: 50%;
    text-align: right;
}
#icones a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}

#icones a:hover {
    transform: scale(1.5);
    transition: 0.1s;

}