* {
    font-family: 'Mitr', sans-serif;
}


body {
    background-color: white;
    margin: 0 auto;
    color: white;

}

header {
    background: url(../../ressources/img/train.webp) 100% fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;

}

h1.titre {

    font-size: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

h3.slogan {

    font-size: 25px;
    font-style: italic;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

/* Destinations */

section#destinations {
    margin: 0px 20% 0 20%;
}

section#destinations h3{
    margin-top: 30px;
    color: grey;
    text-align: center;
}

div.destination-item {
    color: white;
    width: 250px;
    height: 250px;
    margin: 10px;
    position: relative;
    flex: 1 0 29%;
    background-repeat: no-repeat;
    background-size: 100%;

}

div.destination-item:hover {
    transform: scale(1.1);
    transition: 0.4s all;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.destination-groupe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.paris { background: url(../../ressources/img/paris.jpg); }
.marseille { background: url(../../ressources/img/marseille.jpg); }
.lille { background: url(../../ressources/img/lille.jpg); }
.lyon { background: url(../../ressources/img/lyon.jpg); }
.nice { background: url(../../ressources/img/nice.jpg); }
.toulouse { background: url(../../ressources/img/toulouse.jpg); }

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

span.nom {
    position: relative;
    color: grey;
    background-color: white;
    top: 20px;
    float: right;
    padding: 10px;
    font-size: 18px;

}

span.prix {
    position: relative;
    color: white;
    background-color: orange;
    padding: 10px;
    font-size: 17px;
    top: 220px;



}

/* Formulaire de recherche */

header form {
    
    border: 1px black solid;
    border-radius: 10px;
    background-color: orange;
    padding: 20px;
    
}

.search-form {
    transform: translateY(25px);

}

.form-group{
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.form-group input, select, option{
    padding: 5px;

}

.form-group label {
    margin: 5px;
    padding: 10px;
}

.button-submit{
    text-align: center;

}

.button-submit input{
    border: 1px black solid;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 15px;
}

/* Pied de page */

hr {
    margin: 20px;
    color: grey;
    opacity: 0.6;

}

footer p {
    font-size: small;
    text-align: center;
    color: grey;
    padding: 10px;
}