@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
}

.container {
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#b7eded, #4ac3b1);
    padding: 10px;

}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2 {
    color: #4ac3b1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 60px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#eaeaea ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgb(255, 165, 86);
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../../ressources/img/todolist/cercle.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;


}

ul li.checked {
    color: #4ac3b1;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(../../ressources/img/todolist/coche.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}









