@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&family=Viga&display=swap');

.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    

}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url('../../ressources/img/taupe.png');
    background-size: cover;
}


h2 {
    font-family: 'Viga';
}

